:root {
  --title-color: #03a9f4;
}

.about {
  margin-top: 150px;
}

.title {
  text-align: center;
  margin-top: 20px;
  & h1 {
    font-size: 55pt;
  }
  & h4 {
    font-size: 30pt;
    color: var(--title-color);
  }
}

.hr-title {
  margin: 0 auto;
  width: 28%;
  height: 5px;
  background-color: black;
  align-items: center;
}

.description p {
  margin: 0 auto;
  margin-top: 20px;
  text-align: justify;
  font-size: 22px;
  width: 80%;
}

@media screen and (max-width: 425px) {
  .title {
    margin-top: 20px;
    & h1 {
      font-size: 30pt;
    }
    & h4 {
      font-size: 20pt;
    }
  }

  .hr-title {
    width: 85%;
  }

  .description p {
    font-size: 22px;
    width: 90%;
  }
}

@media screen and (max-width: 375px) {
  .hr-title {
    width: 95%;
  }
}

@media screen and (max-width: 320px) {
  .title {
    & h1 {
      font-size: 24pt;
    }
    & h4 {
      font-size: 18pt;
    }
  }

  .hr-title {
    width: 90%;
  }

  .description p {
    font-size: 18px;
  }
}
