:root {
  --title-color: #03a9f4;
}

.about {
  margin-top: 150px;
}

.title {
  text-align: center;
  margin-top: 20px;
  & img {
    width: 400px;
  }
  & h1 {
    font-size: 55pt;
  }
  & h4 {
    font-size: 30pt;
    color: var(--title-color);
  }
}

.hr-title {
  margin: 0 auto;
  width: 28%;
  height: 5px;
  background-color: black;
  align-items: center;
}

.description p {
  margin: 0 auto;
  margin-top: 20px;
  text-align: justify;
  font-size: 22px;
  width: 80%;
}
