.container-nav2 {
  position: relative;
  top: 20px;
}

.nav2 {
  display: flex;
  justify-content: end;
  align-items: center;
  & a {
    margin-top: 0;
    margin-right: 30px;
  }
  & img {
    width: 50px;
  }
  & img:hover {
    transform: scale(1.2);
  }
}
