.container-nav2 {
  position: relative;
  top: 20px;
}

.nav2 {
  display: flex;
  justify-content: end;
  align-items: center;
  & a {
    margin-top: 0;
    margin-right: 30px;
  }
  & img {
    width: 50px;
  }
  & img:hover {
    transform: scale(1.2);
  }
}

@media only screen and (max-width: 425px) {
  .nav2 {
    & a {
      margin-right: 20px;
    }
    & img {
      width: 40px;
    }
  }
}

@media only screen and (max-width: 320px) {
  .nav2 {
    & a {
      margin-right: 15px;
    }
    & img {
      width: 30px;
    }
  }
}
