.rotate {
  animation: rotation 15s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(359deg);
  }
}

#containerCub {
  margin-left: 20%;
  perspective: 800px;
  width: 200px;
  margin-top: 50px;
}
#cub {
  transform-style: preserve-3d;
  width: 200px;
  height: 200px;
  //   transform: rotateY(45deg);
}
.face {
  position: absolute;
  & img {
    width: 100px;
    height: 100px;
    box-shadow: 3px 3px 5px 2px #acabab;
  }
}
//FORM
.front {
  transform: translateZ(50px);
}
//POKEAPI
.back {
  transform: translateZ(-50px);
}
//RICK AND MORTY
.left {
  transform: translateX(-50px) rotateY(90deg);
}
// POND HOUSE
.right {
  transform: translateX(50px) rotateY(90deg);
}
