:root {
  --title-color: #03a9f4;
}

.about {
  margin-top: 150px;
}

.title {
  text-align: center;
}

.title img {
  width: 400px;
}

.title h1 {
  font-size: 55pt;
}

.hr-title {
  margin: 0 auto;
  width: 28%;
  height: 5px;
  background-color: black;
  align-items: center;
}

.title h4 {
  font-size: 30pt;
  color: var(--title-color);
}

.description p {
  margin: 0 auto;
  margin-top: 10px;
  text-align: justify;
  font-size: 22px;
  width: 50%;
}
