@font-face {
  font-family: 'font-body';
  src: url('./fonts/Gabarito-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'font-title';
  src: url('./fonts/PlayfairDisplay-VariableFont_wght.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'font-body';
}

h1,
h2,
h3,
h4 {
  font-family: 'font-title';
}

@import './components/nav';
@import './components/aboutme';
@import './components/nav2';
@import './components/cardabout';
